.terminal {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0;
}
.terminal-display {
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    display: block;
    padding: 16px;
    padding-right:0;
    text-align:left;
    background-color: rgba(42, 49, 83, 0.425);
    border-radius : 8px;
    height: 250px;
    margin:auto;
    width:100%;
    overflow: auto;
    word-wrap: break-word;
}
.terminal-write {
    font-family: 'Share Tech Mono', monospace;
    background-color: rgba(42, 49, 83, 0.425);
    color: white;
    display: block;
    padding-left: 16px;
    text-align: left;
    border: none;
    outline: none;
    border-radius : 8px;
    height: 50px;
    width:100%;
    overflow: auto;
    margin:auto;
    margin-top: 8px;
    transition: transform 0.1s;
}
.stats {
    font-family: 'Patrick Hand SC', cursive;
    color: white;
    text-align: center;
    display: block;
    padding: 16px;
    padding-right:0;
    font-size: 24px;
    width:100%;
    margin: auto;
    margin-top: 32px;
    /* background-color: rgba(42, 49, 83, 0.425); */
    border-radius : 8px;
    opacity: 0.7;
}
.lives {
    display: inline;
    padding: 16px;
    margin: 16px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(219, 141, 141);
}
.money {
    transition: transform 1s;
    display: inline;
    padding: 16px;
    margin: 16px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(139, 228, 121);
}
.econ {
    display: inline;
    padding: 16px;
    margin: 16px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(235, 211, 132);
}
.placeholder {
    display: inline;
    padding: 16px;
    margin: 16px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(255, 255, 255);
}
.update {
    vertical-align: center;
    font-size: 18px;
}